@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, "Inter", "Arial", "Courier New", Courier, monospace;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #f0eaef;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
